<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <h3>Agregar Curso</h3>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="grado">Grado</label>
                    <input type="number" class="form-control" id="grado" name="grado"
                    [(ngModel)]="grado" required>
                </div>
                <div class="form-group">
                    <label for="precio">Salon</label>
                    <input type="text" class="form-control" id="salon" name="salon"
                    [(ngModel)]="salon" required>
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
                <button (click)="onBack()" class="btn btn-outline-danger btn-block">Regresar</button>
            </form>
        </div>
    </div>
</div>