<div class="container-md">
    <div class="card">
      <div class="card-header">
        <h2><strong>COLEGIO DEL OLIMPO</strong></h2>
        <span>Bienvenidos</span>
      </div>
  
      <h5 class="col-md-12 card-title" style="margin-top: 20px;">Seleccione una opción</h5>
      <ul class="nav" style="margin-bottom: 15px;">
        <li class="nav-item">
          <div class="col-md-1 col-xs-12">
            <button routerLink="cursos" class="btn btn-outline-primary btn-lg" style="margin: 2px;">Cursos</button>
          </div>
        </li>
        <li class="nav-item">
          <div class="col-md-1 col-xs-12">
            <button routerLink="asignaturas" class="btn btn-outline-primary btn-lg" style="margin: 2px;">Asignaturas</button>
          </div>
        </li>
        <li class="nav-item">
          <div class="col-md-1 col-xs-12">
            <button routerLink="profesores" class="btn btn-outline-primary btn-lg" style="margin: 2px;">Profesores</button>
          </div>
        </li>
        <li class="nav-item">
          <div class="col-md-1 col-xs-12">
            <button routerLink="estudiantes" class="btn btn-outline-primary btn-lg" style="margin: 2px;">Estudiantes</button>
          </div>
        </li>
      </ul>
  
    </div>
  
  </div>