<div class="container-md">
    <div class="card">
      <div class="card-header">
        <h2><strong>COLEGIO DEL OLIMPO</strong></h2>
        <span>Bienvenidos</span>
      </div>
  
      <h5 class="col-md-12 card-title" style="margin-top: 20px;">Lista de profesores</h5>
      <ul class="nav" style="margin-bottom: 15px;">
        <li class="nav-item">
          <div class="col-md-1 col-xs-12">
            <button routerLink="/" class="btn btn-outline-danger" style="margin: 2px;">Regresar</button>
          </div>
        </li>

        <li class="nav-item">
            <div class="col-xs-12">
              <button routerLink="/agregar-profesor" class="btn btn-outline-primary" style="margin: 2px;">Agregar Profesor</button>
            </div>
          </li>
      </ul>
  
      <div class="col-md-12" style="margin-top: 50px;">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Asignaturas</th>
              <th scope="col">Editar</th>
              <th scope="col">Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asignatura of asignaturas">
              <td>{{asignatura.id}}</td>
              <td>{{asignatura.nombre}}</td>
              <td><button class="btn btn-outline-primary" routerLink="/asignatura-por-profesor/{{id}}"><i class="far fa-eye"></i> Ver</button></td>
              <td><button class="btn btn-outline-warning" routerLink="/editar/{{curso.id}}"><i class="far fa-edit"></i> Editar</button></td>
              <td><button class="btn btn-outline-danger" (click)="borrar(curso.id)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>