<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <h3>Agregar Estidiante</h3>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                    [(ngModel)]="nombre" required>
                </div>

                <div class="form-group">
                    <label for="profesor">Profesor</label>
                    <input type="text" class="form-control" id="profesor" name="profesor"
                    [(ngModel)]="profesor" required>
                </div>

                <div class="form-group">
                    <label for="curso">Curso</label>
                    <input type="text" class="form-control" id="curso" name="curso"
                    [(ngModel)]="curso" required>
                </div>
                
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
                <button (click)="onBack()" class="btn btn-outline-danger btn-block">Regresar</button>
            </form>
        </div>
    </div>
</div>